<div class="accordion">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#8659; <b>MENU</b> &#8659;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="list">
          <input type="submit" (click)="Contas()" style= "width: 130px" value="Contas"><br>
        </div>
        <div class="list">
          <input type="submit" (click)="Ganhos()" style= "width: 130px" value="Ganhos"><br>
        </div>
        <div class="list">
          <input type="submit" (click)="Gastos()" style= "width: 130px" value="Gastos"><br>
        </div>
        <div class="list">
          <input type="submit" (click)="Veiculos()" style= "width: 130px" value="Veículos"><br>
        </div>
        <div class="list">
          <input type="submit" (click)="Imovel()" style= "width: 130px" value="Imóveis"><br>
        </div>
        <div class="list">
          <input type="submit" onclick="Empresas()" style= "width: 130px" value="Empresas"><br>
        </div>
        <div class="list">
          <input type="submit" onclick="Acoes()" style= "width: 130px" value="Ações"><br>
        </div>
        <div class="list">
          <input type="submit" (click)="Dashboard()" style= "width: 130px" value="Dashboard"><br>
        </div>
        <div class="list">
          <input type="submit" (click)="Home()" style= "width: 130px" value="Home"><br>
        </div>
        <div class="list">
          <input type="submit" (click)="Logout()" style= "width: 130px" value="Logout"><br>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
