<div id="tabela">
    <h2>Rendas</h2>
      <table border="1px">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Data</th>
          <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let renda of rendas | slice: (page-1) * pageSize : page * pageSize">
          <td>{{renda.nome}}</td>
          <td>{{renda.tipo}}</td>
          <td>{{renda.data}}</td>
          <td>R${{renda.valor}}</td>
          <td><button type="button" class="btn-sm btn-danger"
          (click)="excluir(renda.id)"> Excluir</button></td>
          <td><app-alterar-rendas-modal [idRenda]=renda.id [idUsuario]=idUser></app-alterar-rendas-modal></td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-inserir-rendas-modal [idUsuario]=idUser></app-inserir-rendas-modal>
    <ngb-pagination
    [(page)]="page"
    [pageSize]="4"
    [collectionSize]="rendas.length"></ngb-pagination>
    <td><button type="button" class="btn-sm btn-secondary"
      (click)="exportar()"> Exportar</button></td>