<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Usuário</label><br>
        <input type="text" [(ngModel)]="user.username"
               class="form-control"
               id="username"
               name="username"
               placeholder="Enter your name"
               required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="password">Senha</label><br>
        <input type="password" [(ngModel)]="user.password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter your email address"
               required #email="ngModel">
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
    Usuário ou senha incorretos!
  </div>
</div>
