<main class="form-signin w-100 m-auto">

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="username">Usuario</label><br>
      <input type="text" [(ngModel)]="usuario.username"
             class="form-control"
             id="username"
             name="username"
             placeholder="Usuario"
             required #name="ngModel">
    </div>
    <div class="form-group">
      <label for="password">Senha</label><br>
      <input type="password" [(ngModel)]="usuario.senha"
             class="form-control"
             id="password"
             name="password"
             placeholder="Senha"
             required #email="ngModel">
    </div>
    <div class="form-group">
      <label for="password">Confirmação Senha</label><br>
      <input type="password" [(ngModel)]="usuario.senha2"
             class="form-control"
             id="password2"
             name="password2"
             placeholder="Senha"
             required #email="ngModel">
    </div>
    <div class="form-group">
      <label for="nome">Nome</label><br>
      <input type="text" [(ngModel)]="usuario.nome"
             class="form-control"
             id="nome"
             name="nome"
             placeholder="Nome"
             required #name="ngModel">
    </div>
    <div class="form-group">
      <label for="sobrenome">Sobrenome</label><br>
      <input type="text" [(ngModel)]="usuario.sobrenome"
             class="form-control"
             id="sobrenome"
             name="sobrenome"
             placeholder="Sobrenome"
             required #name="ngModel">
    </div>
    <div class="form-group">
      <label for="email">E-mail</label><br>
      <input type="email" [(ngModel)]="usuario.email"
             class="form-control"
             id="email"
             name="email"
             placeholder="xxxxxxxxxxxxxx@xxxx.xxx.xx"
             required #name="ngModel">
    </div>
    <div class="form-group">
      <label for="dataNascimento">Data de nascimento</label><br>
      <input type="text" [(ngModel)]="usuario.dataNascimento"
             class="form-control"
             id="dataNascimento"
             name="dataNascmimento"
             placeholder="00-00-0000"
             required #name="ngModel">
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label><br>
      <input type="text" [(ngModel)]="usuario.cpf"
             class="form-control"
             id="cpf"
             name="cpf"
             placeholder="00000000000"
             required #name="ngModel">
    </div>
    <button type="submit" [disabled]="!userForm.form.valid"
            class="btn btn-info">Submit
    </button>
  </form>
</main>
