<div id="tabela">
<h2>Contas</h2>
  <table border="1px">
    <thead>
    <tr>
      <th>Agência</th>
      <th>Conta</th>
      <th>Banco</th>
      <th>Saldo</th>
      <th>Tipo</th>
      <th>Excluir</th>
      <th>Alterar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let conta of contasBancarias | slice: (page-1) * pageSize : page * pageSize">
      <td>{{conta.agencia}}</td>
      <td>{{conta.conta}}</td>
      <td>{{conta.banco}}</td>
      <td>R${{conta.saldo}}</td>
      <td>{{conta.tipo}}</td>
      <td><button type="button" class="btn-sm btn-danger"
      (click)="excluir(conta.id)"> Excluir</button></td>
      <td><app-alterar-contas-modal [idConta]=conta.id [idUsuario]=valor></app-alterar-contas-modal></td>
    </tr>
    </tbody>
  </table>
</div>
<app-inserir-contas-modal [idUsuario]=valor></app-inserir-contas-modal>
<ngb-pagination
[(page)]="page"
[pageSize]="4"
[collectionSize]="contasBancarias.length"></ngb-pagination>
<td><button type="button" class="btn-sm btn-secondary"
  (click)="exportar()"> Exportar</button></td>